aggdraw==1.3.11
aiocontextvars==0.2.2
aiohttp==3.6.2
aioinflux==0.9.0
alembic==1.4.2
ansiwrap==0.8.4
aplus==0.11.0
appdirs==1.4.4
argo-workflows==3.2.0
argon2-cffi==20.1.0
arrow==0.16.0
asgiref==3.2.10
astropy==4.0.1.post1
astroquery==0.4.1
astrowidgets==0.1.1
async-generator==1.10
async-timeout==3.0.1
attrs==20.1.0
awkward==0.13.0
awkward-numba==0.13.0
backcall==0.2.0
beautifulsoup4==4.9.1
binaryornot==0.4.4
black==19.10b0
bleach==3.1.5
bokeh==2.1.1
boltons==20.2.1
boto3==1.14.47
botocore==1.17.47
bqplot==0.12.16
branca==0.4.1
cachetools==4.1.1
certifi==2020.6.20
certipy==0.1.3
cffi==1.14.2
chardet==3.0.4
ciso8601==2.1.3
click==7.1.2
cloudpickle==1.5.0
colorama==0.4.3
colorcet==2.0.2
colored==1.4.2
contextvars==2.4
cookiecutter==1.7.2
coverage==5.2.1
cryptography==3.0
cycler==0.10.0
Cython==0.29.21
dask==2.24.0
dask-kubernetes==0.10.1
dask-labextension==3.0.0
datashader==0.11.1
datashape==0.5.2
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distributed==2.24.0
docutils==0.15.2
ecdsa==0.14.1
eliot==1.12.0
eliot-tree==19.0.1
entrypoints==0.3
escapism==1.0.1
falcon==2.0.0
fastparquet==0.4.1
filelock==3.0.12
firefly-client==2.4.2
fsspec==0.8.0
future==0.18.2
gcsfs==0.7.0
ginga==3.1.0
gitdb==4.0.5
GitPython==3.1.7
google==3.0.0
google-auth==1.20.1
google-auth-oauthlib==0.4.1
graphviz==0.14.1
grpcio==1.31.0
h5py==2.10.0
healpy==1.14.0
HeapDict==1.0.1
holoviews==1.13.3
html5lib==1.1
hvplot==0.6.0
idna==2.10
idna-ssl==1.1.0
immutables==0.14
importlib-metadata==1.7.0
importlib-resources==3.0.0
iniconfig==1.0.1
intake==0.6.0
intake-parquet==0.2.3
ipydatawidgets==4.0.1
ipyevents==0.8.0
ipykernel==5.3.4
ipyleaflet==0.13.3
ipympl==0.5.7
ipython==7.16.1
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.4.0
ipyvuetify==1.5.1
ipywebrtc==0.5.0
ipywidgets==7.5.1
iso8601==0.1.12
jedi==0.17.2
jeepney==0.4.3
Jinja2==2.11.2
jinja2-time==0.2.0
-e git+https://github.com/mgckind/jjs9.git@171b27610a2db28477b7b24e58cc25fe2ce13ab9#egg=jjs9
jmespath==0.10.0
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
-e git+https://github.com/Caltech-IPAC/jupyter_firefly_extensions.git@027abf11495ea1dc17a237914dd696f3e5c01be0#egg=jupyter_firefly_extensions
jupyter-server-proxy==1.5.0
jupyter-telemetry==0.1.0
jupyterhub==1.1.0
jupyterhub-jwtauthenticator==0.1
jupyterhub-kubespawner==0.12.0
jupyterlab==2.2.5
jupyterlab-iframe==0.2.2
jupyterlab-server==1.2.0
kapteyn @ file:///opt/lsst/src/thirdparty/kapteyn
keyring==21.3.1
kiwisolver==1.2.0
kubernetes==11.0.0
kubernetes-asyncio==11.3.0
llvmlite==0.34.0
locket==0.2.0
lsst-efd-client==0.5.0
Mako==1.1.3
maproxy==0.0.12
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.1
mimeparse==0.1.3
mistune==0.8.4
mock==4.0.2
modin==0.8.0
more-itertools==8.4.0
msgpack==1.0.0
multidict==4.7.6
multipledispatch==0.6.0
mysqlclient==2.0.1
nbclient==0.4.1
nbconvert==5.6.1
nbdime==2.0.0
nbformat==5.0.7
nbreport==0.7.4
nbval==0.9.6
nclib==1.0.0
nest-asyncio==1.4.0
notebook==6.1.3
numba==0.51.0
numexpr==2.7.1
numpy==1.19.1
oauthenticator==0.11.0
oauthlib==3.1.0
packaging==20.4
pamela==1.0.0
pandas==1.1.1
pandocfilters==1.4.2
panel==0.9.7
papermill==2.1.3
param==1.9.3
paramnb==2.0.4
parso==0.7.1
partd==1.1.0
pathspec==0.8.0
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pipenv==2020.8.13
pluggy==0.13.1
poyo==0.5.0
progressbar2==3.51.4
prometheus-client==0.8.0
prompt-toolkit==3.0.6
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
py==1.9.0
py-spy==0.3.3
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyct==0.4.6
Pygments==2.6.1
pyjs9 @ git+https://github.com/ericmandel/pyjs9@79e5da894650f16191970bc2ca47fa9456f6f1d3
pyOpenSSL==19.1.0
pypandoc==1.5
pyparsing==2.4.7
pyrsistent==0.16.0
pyshp==2.1.0
pytest==6.0.1
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==3.13.2
python-jose==3.2.0
python-json-logger==0.1.11
python-slugify==4.0.1
python-snappy==0.5.4
python-socketio==4.6.0
python-utils==2.4.0
pythreejs==2.2.0
pytz==2020.1
pyviz-comms==0.7.6
pyvo==1.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.6
QtPy==1.9.0
ray==0.8.6
redis==3.4.1
regex==2020.7.14
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
rubin-jupyter-utils.config==0.30.2
rubin-jupyter-utils.helpers==0.30.1
rubin-jupyter-utils.hub==0.30.2
rubin-jupyter-utils.lab==0.10.2
s3fs==0.2.2
s3transfer==0.3.3
scipy==1.5.2
SecretStorage==3.1.2
semver==2.10.2
Send2Trash==1.5.0
sidecar==0.4.0
simpervisor==0.3
six==1.15.0
smmap==3.0.4
socketIO-client==0.7.2
sortedcontainers==2.2.2
soupsieve==2.0.1
SQLAlchemy==1.3.19
stevedore==3.2.0
swifter==1.0.3
tables==3.6.1
tabulate==0.8.7
tblib==1.7.0
tenacity==6.2.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
textwrap3==0.9.2
thrift==0.13.0
toml==0.10.1
toolz==0.10.0
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
traittypes==0.2.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
vaex-arrow==0.5.1
vaex-astro==0.7.0
vaex-core==2.0.3
vaex-distributed==0.3.0
vaex-hdf5==0.6.0
vaex-jupyter==0.5.2
vaex-server==0.3.1
vaex-viz==0.4.0
virtualenv==20.0.31
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
wfdispatcher==0.4.0
widgetsnbextension==3.5.1
ws4py==0.5.1
WSGIserver==1.3
xarray==0.16.0
yarl==1.5.1
zict==2.0.0
zipp==3.1.0
zope.interface==5.1.0
