pip==20.1.1
wheel==0.34.2
setuptools==47.3.0
aggdraw==1.3.11
aiocontextvars==0.2.2
aiohttp==3.6.2
aioinflux==0.9.0
alembic==1.4.2
ansiwrap==0.8.4
aplus==0.11.0
appdirs==1.4.3
argo-workflows==3.1.1
argo-workflows-sdk==0.1.0.dev0
arrow==0.15.5
astropy==4.0.1.post1
astroquery==0.4
astrowidgets==0.1.1
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
awkward==0.12.20
awkward-numba==0.12.20
backcall==0.1.0
beautifulsoup4==4.9.0
binaryornot==0.4.4
black==19.10b0
bleach==3.1.5
bokeh==1.4.0
boltons==20.1.0
boto3==1.13.1
botocore==1.16.1
bqplot==0.12.7
branca==0.3.1
cachetools==4.1.0
certifi==2020.4.5.1
certipy==0.1.3
cffi==1.14.0
chardet==3.0.4
ciso8601==2.1.3
click==7.1.2
cloudpickle==1.4.1
colorama==0.4.3
colorcet==2.0.2
colored==1.4.2
contextvars==2.4
cookiecutter==1.7.2
coverage==5.1
cryptography==2.9.2
cycler==0.10.0
Cython==0.29.17
dask==2.15.0
dask-kubernetes==0.10.1
dask-labextension==2.0.2
datashader==0.10.0
datashape==0.5.2
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
distributed==2.15.2
docutils==0.15.2
ecdsa==0.15
eliot==1.12.0
eliot-tree==19.0.1
entrypoints==0.3
escapism==1.0.1
falcon==2.0.0
fastparquet==0.3.3
filelock==3.0.12
firefly-client==2.3.0
fsspec==0.7.3
future==0.18.2
gcsfs==0.6.1
ginga==3.0.1
gitdb==4.0.4
GitPython==3.1.1
google-auth==1.14.1
google-auth-oauthlib==0.4.1
graphviz==0.14
h5py==2.10.0
healpy==1.13.0
HeapDict==1.0.1
holoviews==1.12.7
html5lib==1.0.1
hvplot==0.5.2
idna==2.9
idna-ssl==1.1.0
imageio==2.8.0
immutables==0.12
importlib-metadata==1.6.0
importlib-resources==1.5.0
inflection==0.4.0
intake==0.5.5
intake-parquet==0.2.3
ipydatawidgets==4.0.1
ipyevents==0.7.1
ipykernel==5.2.1
ipyleaflet==0.12.4
ipympl==0.5.6
ipython==7.14.0
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.3.2
ipyvuetify==1.4.0
ipywebrtc==0.5.0
ipywidgets==7.5.1
iso8601==0.1.12
jedi==0.17.0
jeepney==0.4.3
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.9.5
json5==0.9.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-firefly-extensions==0.2.6
jupyter-server-proxy==1.3.2
jupyter-telemetry==0.1.0
jupyterhub==1.1.0
jupyterhub-jwtauthenticator==0.1
jupyterhub-kubespawner==0.11.1
jupyterhubutils==0.24.1
jupyterlab==1.2.14
jupyterlab-iframe==0.2.2
jupyterlab-lsstextensions==0.0.4
jupyterlab-server==1.1.1
jupyterlabutils==0.9.2
keyring==21.2.1
kiwisolver==1.2.0
kubernetes==11.0.0
kubernetes-asyncio==11.2.0
llvmlite==0.32.0
locket==0.2.0
lsst-efd-client==0.5.0
Mako==1.1.2
maproxy==0.0.12
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mimeparse==0.1.3
mistune==0.8.4
mock==4.0.2
more-itertools==8.2.0
msgpack==1.0.0
multidict==4.7.5
multipledispatch==0.6.0
mysqlclient==1.4.6
nbclient==0.2.0
nbconvert==5.6.1
nbdime==2.0.0
nbformat==5.0.6
nbreport==0.7.4
nbval==0.9.5
nclib==0.8.3
nest-asyncio==1.3.2
networkx==2.4
notebook==6.0.3
numba==0.49.0
numexpr==2.7.1
numpy==1.18.3
oauthenticator==0.11.0
oauthlib==3.1.0
packaging==20.3
pamela==1.0.0
pandas==1.0.3
pandocfilters==1.4.2
panel==0.9.5
papermill==2.1.1
param==1.9.3
paramnb==2.0.4
parso==0.7.0
partd==1.1.0
pathspec==0.8.0
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pipenv==2018.11.26
pluggy==0.13.1
poyo==0.5.0
progressbar2==3.51.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.1
pyarrow==0.17.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyct==0.4.6
Pygments==2.6.1
pyOpenSSL==19.1.0
pypandoc==1.5
pyparsing==2.4.7
pyrsistent==0.16.0
pyshp==2.1.0
pytest==5.4.1
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==3.12.1
python-jose==3.1.0
python-json-logger==0.1.11
python-slugify==4.0.0
python-snappy==0.5.4
python-socketio==4.5.1
python-utils==2.4.0
pythreejs==2.2.0
pytz==2020.1
pyviz-comms==0.7.4
pyvo==1.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
regex==2020.4.4
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3fs==0.2.2
s3transfer==0.3.3
scikit-image==0.16.2
scipy==1.4.1
SecretStorage==3.1.2
semver==2.9.1
Send2Trash==1.5.0
sidecar==0.4.0
simpervisor==0.3
six==1.14.0
smmap==3.0.2
socketIO-client==0.7.2
sortedcontainers==2.1.0
soupsieve==2.0
SQLAlchemy==1.3.16
stevedore==1.32.0
swifter==0.304
tables==3.6.1
tabulate==0.8.7
tblib==1.6.0
tenacity==6.2.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
textwrap3==0.9.2
thrift==0.13.0
toml==0.10.0
toolz==0.10.0
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
traittypes==0.2.1
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.9
vaex-arrow==0.4.2
vaex-astro==0.6.1
vaex-core==1.5.0
vaex-distributed==0.3.0
vaex-hdf5==0.5.6
vaex-jupyter==0.4.1
vaex-server==0.2.1
vaex-viz==0.3.8
virtualenv==20.0.18
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.57.0
wfdispatcher==0.3.0.0
widgetsnbextension==3.5.1
ws4py==0.5.1
WSGIserver==1.3
xarray==0.15.1
yarl==1.4.2
zict==2.0.0
zipp==3.1.0
zope.interface==5.1.0
