pip==20.0.2
setuptools==45.1.0
wheel==0.34.2
aiohttp==3.6.2
aioinflux==0.9.0
alembic==1.3.3
ansiwrap==0.8.4
apipkg==1.5
aplus==0.11.0
appdirs==1.4.3
argo-workflows==2.1.4
argo-workflows-sdk==0.1.0.dev0
arrow==0.15.5
asn1crypto==0.24.0
astropy==3.2.3
astroquery==0.4
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
awkward==0.12.20
awkward-numba==0.12.20
backcall==0.1.0
beautifulsoup4==4.8.2
binaryornot==0.4.4
bleach==3.1.0
bokeh==1.4.0
boto3==1.11.9
botocore==1.14.9
Bottleneck==1.2.1
bqplot==0.12.3
branca==0.3.1
cachetools==4.0.0
Cartopy==0.17.0
certifi==2019.11.28
certipy==0.1.3
cffi==1.12.2
chardet==3.0.4
ciso8601==2.1.2
Click==7.0
cloudpickle==1.2.2
colorama==0.4.3
colorcet==2.0.2
cookiecutter==1.7.0
coverage==4.5.4
cryptography==2.6.1
cycler==0.10.0
Cython==0.29.14
dask==2.10.1
dask-kubernetes==0.10.1
dask-labextension==1.1.0
datashader==0.10.0
datashape==0.5.2
decorator==4.4.1
defusedxml==0.6.0
Deprecated==1.2.5
distributed==2.10.0
docutils==0.15.2
ecdsa==0.15
entrypoints==0.3
escapism==1.0.0
execnet==1.7.1
falcon==2.0.0
fastparquet==0.3.2
firefly-client==2.3.0
fsspec==0.6.2
future==0.17.1
gcsfs==0.6.0
ginga==3.0.1
gitdb2==2.0.6
GitPython==3.0.5
google-auth==1.11.0
google-auth-oauthlib==0.4.1
graphviz==0.13.2
h5py==2.9.0
HeapDict==1.0.1
holoviews==1.12.7
html5lib==1.0.1
hvplot==0.5.2
idna==2.8
imageio==2.6.1
importlib-metadata==1.5.0
inflection==0.3.1
intake==0.5.4
intake-parquet==0.2.3
ipydatawidgets==4.0.1
ipyevents==0.7.0
ipykernel==5.1.4
ipyleaflet==0.12.2
ipympl==0.4.1
ipython==7.12.0
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.0.2
ipyvuetify==1.1.1
ipywebrtc==0.5.0
ipywidgets==7.5.1
jedi==0.16.0
jeepney==0.4.2
Jinja2==2.11.1
jinja2-time==0.2.0
jmespath==0.9.4
json5==0.9.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyter-firefly-extensions==0.2.6
jupyter-server-proxy==1.2.0
jupyter-telemetry==0.0.4
jupyterhub==1.1.0
jupyterhub-jwtauthenticator==0.1
jupyterhub-kubespawner==0.11.1
jupyterhubutils==0.15.0
jupyterlab==1.2.6
jupyterlab-lsstextensions==0.0.4
jupyterlab-server==1.0.6
jupyterlabutils==0.5.3
kapteyn==2.3.1
keyring==21.1.0
kiwisolver==1.0.1
kubernetes==10.0.1
kubernetes-asyncio==10.0.1
llvmlite==0.31.0
locket==0.2.0
Mako==1.1.1
maproxy==0.0.12
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mimeparse==0.1.3
mistune==0.8.4
mock==3.0.5
more-itertools==6.0.0
msgpack==0.6.2
multidict==4.7.4
multipledispatch==0.6.0
mysqlclient==1.4.6
nbconvert==5.6.1
nbdime==1.1.0
nbformat==5.0.4
nbreport==0.7.4
nbval==0.9.4
nclib==0.8.3
networkx==2.4
notebook==6.0.3
numba==0.48.0
numexpr==2.6.9
numpy==1.16.2
oauthenticator==0.11.0
oauthlib==3.1.0
packaging==20.1
pamela==1.0.0
pandas==0.24.2
pandocfilters==1.4.2
panel==0.8.0
papermill==1.2.1
param==1.9.3
paramnb==2.0.4
parso==0.6.1
partd==1.1.0
pbr==5.4.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pipenv==2018.11.26
pluggy==0.9.0
poyo==0.5.0
progressbar2==3.47.0
prometheus-client==0.7.1
prompt-toolkit==3.0.3
psutil==5.6.1
ptyprocess==0.6.0
py==1.8.0
pyarrow==0.15.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pyct==0.4.6
Pygments==2.5.2
pyOpenSSL==19.0.0
pypandoc==1.4
pyparsing==2.3.1
pyrsistent==0.15.7
pyshp==2.1.0
PySocks==1.6.8
pytest==4.5.0
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-cov==2.7.1
pytest-doctestplus==0.3.0
pytest-forked==1.0.2
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
pytest-xdist==1.29.0
python-dateutil==2.8.0
python-editor==1.0.4
python-jose==3.1.0
python-json-logger==0.1.11
python-snappy==0.5.4
python-utils==2.3.0
pythreejs==2.1.1
pytz==2018.9
pyviz-comms==0.7.3
pyvo==1.0
PyWavelets==1.1.1
PyYAML==5.1
pyzmq==18.1.1
qtconsole==4.6.0
QtPy==1.9.0
requests==2.21.0
requests-oauthlib==1.3.0
rsa==4.0
ruamel.yaml==0.16.7
ruamel.yaml.clib==0.2.0
s3fs==0.2.2
s3transfer==0.3.2
scikit-image==0.16.2
scikit-learn==0.20.3
scipy==1.2.1
SecretStorage==3.1.2
semver==2.9.0
Send2Trash==1.5.0
Shapely==1.7.0
simpervisor==0.3
six==1.12.0
smmap2==2.0.5
sortedcontainers==2.1.0
soupsieve==1.9.5
SQLAlchemy==1.3.1
stevedore==1.31.0
swifter==0.300
tables==3.6.1
tabulate==0.8.6
tblib==1.6.0
tenacity==6.0.0
terminado==0.8.3
testpath==0.4.4
textwrap3==0.9.2
thrift==0.13.0
toolz==0.10.0
tornado==6.0.3
tqdm==4.42.1
traitlets==4.3.3
traittypes==0.2.1
urllib3==1.24.1
vaex-arrow==0.4.2
vaex-astro==0.6.1
vaex-core==1.5.0
vaex-distributed==0.3.0
vaex-hdf5==0.5.6
vaex-jupyter==0.4.1
vaex-server==0.2.1
vaex-viz==0.3.8
virtualenv==16.7.9
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
wfdispatcher==0.0.4
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.11.1
ws4py==0.5.1
WSGIserver==1.3
xarray==0.15.0
yarl==1.4.2
zict==1.0.0
zipp==2.1.0
