pip==20.2.2
wheel==0.35.1
setuptools 49.6.0
aioinflux==0.9.0
astroquery==0.4.1
astrowidgets==0.1.1
awkward==0.13.0
awkward-numba==0.13.0
bokeh==2.1.1
bqplot==0.12.16
cloudpickle==1.5.0
dask==2.24.0
dask-kubernetes==0.10.1
dask-labextension==3.0.0
datashader==0.11.1
distributed==2.24.0
fastparquet==0.4.1
firefly-client==2.4.2
gcsfs==0.7.0
ginga==3.1.0
gitdb==4.0.5
graphviz==0.14.1
holoviews==1.13.3
hvplot==0.6.0
intake==0.6.0
intake-parquet==0.2.3
ipyevents==0.8.0
ipykernel==5.3.4
ipympl==0.5.7
ipython==7.17.0
ipyvolume==0.5.2
ipywidgets==7.5.1
-e git+https://github.com/Caltech-IPAC/jupyter_firefly_extensions.git@027abf11495ea1dc17a237914dd696f3e5c01be0#egg=jupyter_firefly_extensions
jupyter-server-proxy==1.5.0
jupyterhub==1.1.0
jupyterlab==2.2.5
jupyterlab-iframe==0.2.2
jupyterlab-server==1.2.0
lsst-efd-client==0.5.0
matplotlib==3.3.1
mysqlclient==2.0.1
nbdime==2.0.0
nbval==0.9.6
nclib==1.0.0
notebook==6.1.3
numba==0.51.0
papermill==2.1.3
paramnb==2.0.4
partd==1.1.0
pipenv==2020.8.13
pyarrow==1.0.1
pypandoc==1.5
pyshp==2.1.0
python-snappy==0.5.4
pyvo==1.1
requests==2.24.0
rubin-jupyter-utils.config==0.30.2
rubin-jupyter-utils.helpers==0.30.1
rubin-jupyter-utils.hub==0.30.2
rubin-jupyter-utils.lab==0.10.2
sidecar==0.4.0
socketIO-client==0.7.2
swifter==1.0.3
tables==3.6.1
toolz==0.10.0
tornado==6.0.4
vaex-arrow==0.5.1
vaex-astro==0.7.0
vaex-core==2.0.3
vaex-distributed==0.3.0
vaex-hdf5==0.6.0
vaex-jupyter==0.5.2
vaex-server==0.3.1
vaex-viz==0.4.0
virtualenv==20.0.31
virtualenvwrapper==4.8.4
websocket-client==0.57.0
wfdispatcher==0.4.0
