pip==20.2.4
wheel==0.35.1
setuptools==50.3.2
aioinflux==0.9.0
astroquery==0.4.1
astrowidgets==0.1.1
awkward==0.13.0
awkward-numba==0.13.0
bokeh==2.2.3
bqplot==0.12.18
cloudpickle==1.6.0
dask==2.30.0
dask-kubernetes==0.11.0
dask-labextension==3.0.0
datashader==0.11.1
distributed==2.30.0
fastparquet==0.4.1
firefly-client==2.4.2
freetype-py==2.2.0
gcsfs==0.7.1
ginga==3.1.0
gitdb==4.0.5
graphviz==0.14.2
holoviews==1.13.5
hvplot==0.6.0
intake==0.6.0
intake-parquet==0.2.3
ipyevents==0.8.1
ipykernel==5.3.4
ipympl==0.5.8
ipython==7.18.1
ipyvolume==0.5.2
ipywidgets==7.5.1
jupyter-firefly-extensions==2.0.1
jupyter-server-proxy==1.5.0
jupyterhub==1.2.1
jupyterlab-hdf==0.4.1
jupyterlab-iframe==0.2.3
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
lsst-efd-client==0.5.0
matplotlib==3.3.2
mysqlclient==2.0.1
nbdime==2.1.0
nbformat==5.0.8
nbreport==0.7.4
nbval==0.9.6
notebook==6.1.4
numba==0.51.2
papermill==2.2.0
paramnb==2.0.4
partd==1.1.0
pipenv==2020.8.13
pyarrow==0.16.0
pypandoc==1.5
pyshp==2.1.2
python-snappy==0.5.4
python-socketio==4.6.0
pyvo==1.1
rubin-jupyter-utils.config==0.30.4
rubin-jupyter-utils.helpers==0.30.2
rubin-jupyter-utils.hub==0.32.4
rubin-jupyter-utils.lab==0.10.2
sidecar==0.4.0
socketIO-client==0.7.2
swifter==1.0.7
tables==3.6.1
toolz==0.11.1
tornado==6.1
virtualenv==20.0.35
virtualenvwrapper==4.8.4
websocket-client==0.57.0
wfdispatcher==0.4.1
