body {
    background: WhiteSmoke url("LSST_logo.png") no-repeat bottom right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: DarkSlateBlue;
}

img {
    vertical-align: middle;
}

td {
    padding: 10px;
}

div#linkfarm {
    margin-top: 50px;
    font-size: xx-large;
    display: inline;
		   
}

div#poweredby {
    text-align: center;
    display: inline;
}

div#linktext {
    font-size: medium;
    display: inline;
}

div#mainpane {
    margin: 80px;
}
